{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block checkout_title %}{% trans "Payment" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_details %}{% endblock %}

{% block payment_method %}
<div class="col-sm-12">
    <div class="basket-title">
        <div class="row">
            <h4 class="col-sm-8">{% trans "Method" %}</h4>
        </div>
    </div>
    <div class="basket-items">
        <div class="row">
            <div class="col-sm-8">
                <h4>Cash or Ticket Resto</h4>
                <p>Pay with cash or ticket resto on delivery</p>
            </div>
            <div class="col-sm-3">
                <form method="post" action="{% url 'checkout:preview' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-primary pull-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="basket-items">
        <div class="row">
            <div class="col-sm-8">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">
                <p></p>
                <p>Pay now with Paypal or a card</p>
            </div>
            <div class="col-sm-3">
                <form method="post" action="{% url 'paypal-redirect' %}">
                    {% csrf_token %}
                    <!-- TODO: continue paypal integration after certification -->
                    <button type="submit" disabled="disabled" class="btn btn-lg btn-primary pull-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock payment_method %}
