{% extends "customer/emails/base.html" %}
{% load currency_filters i18n %}

{% block body %}



<p>{% trans 'Dear customer, new dish is ready for ordering.' %}</p>
<p>{% trans 'Start your exploration of Chinese Cuisine?' %}</p>
<a href="https://www.pandaannie.com/en-gb/promotion/" target="_blank"> <strong>Check now</strong></a>
<p>{% trans 'Shortest AD ever! :D' %}</p>
-->

<!-- Baozi promo -->
<p> Baozi sera livré après 1 jour, seulment en cette semaine. </p>
<a href="https://www.pandaannie.com/en-gb/catalogue/baozibao-zi_52/" target="_blank"> <strong>Commandez vite</strong></a>

{% endblock %}
